<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="page-welcome">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle"><iron-icon icon="device:storage"></div>
      <h1>Welcome</h1>
      <p>This website is dedicated to archiving as many deface pages as it can in a safe manner.</p>
      <p>To get started visit the showcase or search pages</p>
    </div>
  </template>

  <script>
    class PageWelcome extends Polymer.Element {
      static get is() { return 'page-welcome'; }
    }

    window.customElements.define(PageWelcome.is, PageWelcome);
  </script>
</dom-module>
